{% extends 'padre.html' %}

{% load static %}

{% block contenidoDinamico %}

<div class="container text-center">
    <p>
    <h2>Todos nuestros articulos:</h2>
    </p>
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center">
    {% for publicacion in post %}

    <section class="bg-light p-4 m-2 rounded" style="width: 20%">
        <h3><a href="{% url 'post_detail' publicacion.id  %}" class="link-dark">{{ publicacion.titulo }}</a></h3>
        <p class="lead">{{ publicacion.contenido|slice:":100" }}...</p>
        <p class="small"><b>{{ publicacion.autor }}</b> | {{ publicacion.fecha }}</p>
        <p><span class="badge rounded text-bg-secondary">{{ publicacion.categoria }}</span></p>
        <a class="btn btn-sm btn-dark" href="{% url 'post_detail' publicacion.id  %}" role="button">Leer Mas &raquo;</a>
        <a class="btn btn-sm btn-dark" href="{% url 'Edit' publicacion.id %}" role="button">Editar</a>
        <a class="btn btn-sm btn-danger" href="{% url 'Delete' publicacion.id %}" role="button">Borrar</a>
    </section>

    {% endfor %}
</div>

{% endblock %}